<div class="container">
    <app-navbar></app-navbar>

    <div class="hero-section custom-top-margin">
        <p>All of us have people in our lives who have been with us through thick and thin. ⌛️ ⏳ They have cheered us in
            gloomy times, helped us out in a difficult phase and have brought a smile to our face and made us happy when
            we were sad. 😇</p>
        <p>What they did or still continue to do for us is boundless and will fall short if we were to express it in
            words. 🔮</p>
        <p>Let's take this opportunity to thank them for everything and do our bit to convey our utmost gratitude to
            them. 🎉</p>
        <p>Read more about the <span class="highlight" (click)="navigateToStory()">Story.</span> ✍️</p>
        <p>Or, <span class="highlight" (click)="navigateToSend()">Send</span> a heartfelt thank you note to them. 💌</p>
        <h4>To all the awesome people 🧑👧👱‍♂️👱‍♀️👴👵 out there who deserve it today and forever. 🙌 Let's,</h4>
        <h3>Appreciate them. 👏 Convey how thankful we are to them. 🙏 Express our gratitude to them. 🤝</h3>
        <h3>MAKE SOMEONE HAPPY TODAY. 🎁 🎈 🤩</h3>
    </div>

    <app-footer></app-footer>
</div>