<div class="container">
    <app-navbar></app-navbar>

    <div class="story-section custom-top-margin">
        <p>A small act of appreciation always brings a smile to someone's face. 😊</p>
        <p>We all have people in our lives who have stood firmly with us through the best 📈 and worst 📉 of times. They
            always had and continue to have our back no matter what the circumstances be. 🌪️</p>
        <p>They are our lifelong support systems and their importance in our life is inevitable. 💪</p>
        <p>They are our cunning partners when we are up to some mischief. 😝</p>
        <p>They are our secret keepers and our secret with them is much safer than it would be in a bank vault. 🔐</p>
        <p>They read our minds and know what we are thinking without even asking us for it. 🤗</p>
        <p>Our lives without them would be null and void. 🧿</p>
        <p>I too have such wonderful people in my life and this is dedicated to them. 🥳</p>
        <p>Let us make them feel special. Let us thank them. Let us convey our immense gratitude to them. Let us nourish
            and
            nurture this lifelong relationship that we have with them. 🎉</p>
        <p>Let us pen an emotional note 💌 thanking them for all that they did for us and bring a smile to their faces
            and
            brighten ☀️ up their life, one ray at a time. 🌞</p>
    </div>

    <app-footer></app-footer>
</div>